<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="modal fade" id="BookModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" th:with="text=${book.ISN==null} ? 'Добавление новой книги' : 'Изменение книги'"
                th:text="${text}">Операция</h4>
            </div>
            <div class="modal-body">
                <form id="book_form" method="post" th:object="${book}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <div class="errors" th:if="${#fields.hasErrors('*')}">
                        <ul>
                            <li style="color: red" th:each="err : ${#fields.errors('*')}"
                                th:text="${err}">Input is incorrect</li>
                        </ul>
                    </div>
                    <label th:class="${#fields.hasErrors('ISN')}? 'error'">
                        ISN</label>
                    <input type="text" onchange="this.value = $.trim(this.value)" th:field="*{ISN}"
                           th:class="${#fields.hasErrors('ISN')}? 'error'"/><br/>
                    <label th:class="${#fields.hasErrors('author')}? 'error'">
                        Автор</label>
                    <input type="text" onchange="this.value = $.trim(this.value)" th:field="*{author}"
                           th:class="${#fields.hasErrors('author')}? 'error'"/><br/>
                    <label th:class="${#fields.hasErrors('title')}? 'error'">
                        Название</label>
                    <input type="text" onchange="this.value = $.trim(this.value)" th:field="*{title}"
                           th:class="${#fields.hasErrors('title')}? 'error'"/><br/>
                </form>
                <div class="modal-footer">
                    <span th:switch="${book.ISN==null}">
                        <span th:case="true">
                            <button type="submit" class="send btn btn-primary" value="/books/new">Сохранить</button>
                        </span>
                        <span th:case="false">
                            <button type="submit" class="send btn btn-primary" value="/books/edit">Изменить</button>
                        </span>
                    </span>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>