<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="modal fade" id="BookModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Внесение данных книги</h4>
            </div>
            <div class="modal-body">
                <form id="book_form" method="post" th:object="${book}" th:action="@{/books/new}">
                    <div class="errors" th:if="${#fields.hasErrors('*')}">
                        <ul>
                            <!--TODO переделать как показываются сообщения об ошибках -->
                            <li style="color: red" th:each="err : ${#fields.errors('*')}"
                                th:text="${err}">Input is incorrect</li>
                        </ul>
                    </div>
                    <label th:class="${#fields.hasErrors('ISN')}? 'error'">
                        ISN</label>
                    <input type="text" th:field="*{ISN}"
                           th:class="${#fields.hasErrors('ISN')}? 'error'"/><br/>
                    <label th:class="${#fields.hasErrors('author')}? 'error'">
                        Автор</label>
                    <input type="text" th:field="*{author}"
                           th:class="${#fields.hasErrors('author')}? 'error'"/><br/>
                    <label th:class="${#fields.hasErrors('title')}? 'error'">
                        Название</label>
                    <input type="text" th:field="*{title}"
                           th:class="${#fields.hasErrors('title')}? 'error'"/><br/>
                </form>
                <div class="modal-footer">
                    <button id="submitButton" type="button" class="btn btn-primary"
                            onclick="$.post('/books/new', $('#book_form').serialize(), function(data) {
                                var book_form = $(data).find('#book_form');
                                if(book_form.length>0) {
                                    $('#book_form').remove();
                                    $('.modal-body').prepend(book_form);
                                }
                                else {
                                    $('.modal').modal('hide');
                                }
                            });">Сохранить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>