<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<table>
     <tr id="tr_table" th:each="book : ${book_list}">
         <td id="isn"><a class="text-light" th:action="@{/books/edit(isn=${book.ISN})}" th:text="${book.ISN}"></a></td>
         <td id="author" th:text="${book.author}"></td>
         <td id="title" th:text="${book.title}" ></td>
         <td id="user" th:with="bwt=${book.whoTook}, user=${#authentication.getName()}"
             th:switch="(${bwt}!=null and ${bwt}!=${user})">
             <span th:case="true" th:text="${bwt}"></span>
             <span th:case="false">
                 <span th:switch="${bwt}==${user}">
                     <span th:case="true">
                         <button class="return" th:value="${user}" type="submit">вернуть</button>
                     </span>
                     <span th:case="false">
                         <button class="take" th:value="${user}" type="submit">взять</button>
                     </span>
                 </span>
             </span>
         </td>
         <td class="del"><button type="submit">del</button></td>
     </tr>
</table>
</body>
</html>
