<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="modal" id="BookModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Внесение данных книги</h4>
            </div>
            <div class="modal-body">
                <form method="post" th:object="${book}" th:action="@{/books/new}">
                    <div class="errors" th:if="${#fields.hasErrors('*')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('*')}"
                                th:text="${err}">Input is incorrect</li>
                        </ul>
                    </div>
                    <label th:class="${#fields.hasErrors('ISN')}? 'error'">
                        ISN</label>
                    <input type="text" th:field="*{ISN}"
                           th:class="${#fields.hasErrors('ISN')}? 'error'"/><br/>
                    <label th:class="${#fields.hasErrors('author')}? 'error'">
                        Автор</label>
                    <input type="text" th:field="*{author}"
                           th:class="${#fields.hasErrors('author')}? 'error'"/><br/>
                    <label th:class="${#fields.hasErrors('title')}? 'error'">
                        Название</label>
                    <input type="text" th:field="*{title}"
                           th:class="${#fields.hasErrors('title')}? 'error'"/><br/>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>